@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
    --font-menu-color: #f8f8f8;
    --bg-menu: #303030;
    --bg: #d1d1d1;
    --font-body-color: #101010;
    --icon-color-linkedin: #0E76A8;
    scroll-behavior: smooth;
}

a{
    color: var(--font-menu-color);
}

*{
    font-family: 'Inclusive Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    background: var(--bg);
    color: var(--font-body-color);
}

/* MENU */

.header-content{
    position: fixed;
    width: 100%;
    height: 5rem;
    background: var(--bg-menu);
    display: flex;
    justify-content: center;
    z-index: 10;
}

.menu-content{
    color: var(--font-menu-color);
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-content{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5rem;
    cursor: pointer;
    color: var(--font-menu-color);
}

.nav-links{
    display: flex;
    gap: 2.2rem;
    font-size: 1.15rem;
}

.nav-links .menu-li{
    position: relative;
    width: 100%;
    display: block;
    padding: .5rem 0;
    color: var(--font-menu-color);
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.nav-links .menu-li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background: var(--font-menu-color);
    top: 80%;
    left: -150%;
    transition: left .3s;
}

.menu-li:hover::after, .menu-li:focus::after{
    left: 0%;
}

/* main content */

.main-content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.8vw;
}
.section-content{
    display: flex;
    width: 78%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

/* FIRST CONTENT */

.presentation{
    justify-content: space-between;
    align-items: center;
}

.div-presentation{
    width: 60%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title-presentation, .p-small{
    font-family: 'Space Mono', monospace;
    white-space: nowrap;
    width: 40ch;
    height: auto;
    font-weight: 400;
    border-right: .3rem solid transparent;
    box-sizing: content-box;
    animation: toWrite 3.5s steps(40),
    blinking .4s alternate;
    overflow: hidden;
    animation-iteration-count: 1, 9;
}

.title-presentation{
    font-size: 1.6rem;
}
.p-small{
    width: 33ch;
    font-size: 1.15rem;
    animation: toWrite 3s steps(35),
    blinking .4s infinite step-end alternate;
}

.img-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    flex: 10rem;
}

.img-presentation{
    mix-blend-mode: multiply;
    width: 90%;
    height: auto;
    animation: fadeIn 2s ease-in-out,
                upDown 3.5s ease-in-out infinite;
    transition: scale .5s;
}

.img-presentation:hover{
    scale: 1.05;
}

/* SECOND CONTENT */

.about-me{
    flex-direction: row-reverse;
    position: relative;
    gap: 3rem;
}

.p-about-me{
    padding: 2.2rem;
    position: relative;
    max-width: 55rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    /* background: #d1d1d1; */
    box-shadow: inset .05rem .05rem .9rem #8c8c8c,
                inset -.3rem -.3rem .9rem #e5e5e5;
}

.img-perfil-content{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 25rem;
    height: 20rem;
    gap: 1.5rem;
}

.img-perfil-content::before, .img-perfil-content::after{
    content: '';
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    opacity: 1;
    background: var(--font-body-color);
    z-index: -1;
    box-shadow: .25rem .25rem .9rem#303030,
                .35rem .35rem 1.2rem#303030;
    filter: blur(.7rem);
}

.img-perfil-content::before{
    animation: fadeIn 2s ease-in-out both 2s,
               upDown 2s ease-in-out infinite;
    top: -1rem;
    left: 1rem;
}

.img-perfil-content::after{
    bottom: 3rem;
    right: 1rem;
    animation: fadeIn 2.5s ease-in-out both 2s,
               upDown 2s ease-in-out infinite .5s;
}

.img-perfil{
    position: relative;
    object-fit: cover;
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
    box-shadow: .25rem .25rem .9rem#303030;
    animation: fadeIn 2s linear;
    transition: transform .3s;
}

.img-perfil:hover{
    transform: translateY(-1rem);
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    animation: fadeIn 2.5s ease-in-out;
    animation-iteration-count: 1;
}

.social-media .icons-cdn{
    position: relative;
    font-size: 2.1rem;
    cursor: pointer;
    transition: scale .2s ease-in-out;
    color: var(--font-body-color);
}

.social-media .icons-cdn:nth-child(1){
    color: var(--icon-color-linkedin);
}

.social-media .icons-cdn:hover{
    scale: 1.08;
    animation: climbIcon .8s linear alternate;
}

/* THIRD CONTENT */

.skills{
    display: flex;
    width: 100%;
    min-height: auto;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    background: #e9e9e9;
    box-shadow: 0rem -.02rem 1rem #30303080;
}

.container-card-skills{
    width: 78%;
    max-width: 1440px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.3rem;
    flex-wrap: wrap;
}

.cards-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    width: 11rem;
    height: 17rem;
    background: #e9e9e9;
    border-radius: 1rem;
    background: #e9e9e9;
    box-shadow:  .7rem .7rem 31px #b3b3b3,
    -.7rem -.7rem 31px #ffffff;
    transition: scale .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
    flex: 11rem 0;
}

.cards-skills:hover, .cards-skills:focus-visible{
    scale: 1.12;
}

.cards-skills:hover:nth-child(1){
    background: #EFD81D;
}

.cards-skills:hover:nth-child(2){
    background: #F74D27;
}

.cards-skills:hover:nth-child(3){
    background: #2862E9;
    color: var(--font-menu-color);
}

.cards-skills:hover:nth-child(4){
    background: #E96228;
    color: var(--font-menu-color);
}

.cards-skills:hover:nth-child(5){
    background: #303030;
    color: var(--font-menu-color);
}

.cards-skills .icons-cdn{
    font-size: 3.5rem;
}

.p-cards{
    letter-spacing: .05rem;
    font-weight: 600;
    font-size: 1.05rem;
}

.level-counter{
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000010;
    font-size: 1.15rem;  
}

/* FOOTER */

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background: var(--bg-menu);
    color: var(--font-menu-color);
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 78%;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.icons-container{
    display: flex;
    gap: 1rem;
}

.icons-container .icons-cdn{
    font-size: 1.7rem;
    transition: scale .3s;
}

.icons-container .icons-cdn:hover{
    scale: 1.15;
}

/* ANIMAÇÕES */

@keyframes climbIcon{
    25%{
        rotate: 0deg;
    }
    50%{
        rotate: 8deg;
    }
    75%{
        rotate: -8deg;
    }
    100%{
        rotate: 0deg;
    }
}

@keyframes toWrite{
    from{
        width: 0;
    }

    to{
        width: calc(width);
    }
}

@keyframes blinking{
    50%{
        border-color: #000;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes upDown{
    0%{
        transform: translateY(.3rem);
    }
    50%{
        transform: translateY(-.3rem);
    }
    100%{
        transform: translateY(.3rem);
    }
}
/* WEBKIT SCROLL */

::-webkit-scrollbar{
    background: #d0d0d0;
    width: .4rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--font-body-color);
    border-radius: 2rem;
}
